/* ---Animation--- */
@keyframes fade-inout{
    0%{ opacity: 1;}
    100%{opacity: 0.1;}
}
.fade-in-fade-out{
    animation: fade-inout 1s infinite alternate;
}


/* -font- */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Inter:wght@400;500&family=Poppins:wght@500&family=Roboto&display=swap');

body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
a{
    text-decoration: none;
}


/*----- Top bannner style -----*/


.banner-container{
    background-color: rgb(18, 0, 92);
    margin: 1rem auto;
    border-radius: 30px;
}
.top-banner{
    color: #ff7c7c;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 1rem 0rem 1rem;
    border-radius: 30px;

}
.banner-left{
padding: 5rem;


}
.banner-head{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}
.banner-button{
    background-color:#b60000;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 16px 24px;
}
.banner-button:hover{
    background-color:#ff7b7b;
}
.top-image{
    /* margin-left: 1em; */
    margin-bottom: -.7em;
}
.top-image img{
    width: 100%;
}

/* ----------------- middle-part-------------- */

.container{
    display: flex;
    margin-top: 100px;
}
.button-list{
    display:grid;
    height: 250px;
    width: 312px;
    border-radius: 10px;
    background-color: rgb(177, 243, 243);
}
.button{
    background-color: #ff7b7b;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
}
.current-button{
    background-color: #0bb67d;
    margin-bottom: 20px;
}

.next{
    background-color:#00b176;
    text-decoration: none;
}
/* ----blogs---- */
.blogs {
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.blog {
    background-color: rgb(255, 225, 225);
    border: 1px solid black;
    border-radius: .5em;
    margin: 0 1rem 1rem 0;
}
.blog-banner img{
    width: 100%;
}
.transfer-button{
    margin-top: 10px;
    color: #161616;
    width: 100px;
    height: 32px;
    background-color: rgb(174, 255, 212);
    border-radius: 5px;
}
.blog-content{
    margin: 20px 0px 15px 10px;
}
   /* matches-- */

.teams{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    margin: 0px 10px 0px 10px;
    border: 1px solid #E8E8E8;

}
.team-flag{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}
.only-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#b60000;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    padding: 16p 25px;
    display: none;
}




/* -------------footer part------------------ */
.footer-container{
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;

}
.footer-head{
    color: white;
    font-size: 40px;

}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
}
.bottom{
    color: #B9B9B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;

}
.bottom-parts{
    margin-right: 20px;
    color: #B9B9B9;
}
.social{
    padding-bottom: 2rem;
    display: none;
}

/* -----------------
   media queries
----------------- */

/* ----mobile device---- */

@media only screen and (max-width:567px) {
    /* main{
        margin: 0;
    } */
    .banner-container{
         width: 100%;
         border-radius: 0;
         margin: 0;
    }
    .top-banner{
        flex-direction: column;
    }
    .banner-left{
        padding: 1rem 0;
        text-align: center;

    }
    .banner-left h1{
        font-size: 2rem;
    }
    .banner-left p{
        font-size: .8rem;
    }


    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .button{
        padding: 10px 40px;
    }
    .button-list{
        width: 90%;
        background-color: white;
        justify-content: center;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        width: 90%;
    }
    .blog{
        width: 100%;
    }
    hr{
        width: 70%;
    }
    .bottom{
        flex-direction:column;
    }
    .social{
        display:inline-flex;
    }
    .gap{
        margin-right: 2rem;
    }

    
}


/*------------tablet view----------------- */


@media only screen and (min-width: 568px) and (max-width: 992px){
    
    .banner-container{
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
   .top-banner{
       flex-direction: row;
   }
   .banner-left{
       padding: 1rem 0;
       text-align: center;

   }
   .banner-left h1{
       font-size: 2rem;
   }
   .banner-left p{
       font-size: 0.8rem;
       padding: 0 20px;
   }


   .container{
       width: 100%;
       margin: 20px 0;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   .button-list{
       width: 100%;
       background-color: white;
       flex-direction: row;
       justify-content: center;
   }
   .button{
    padding: 10px 40px;
   }

   .blogs{
       grid-template-columns: repeat(2, 1fr);
       row-gap: 20px;
       width: 90%;
   }
   .blog{
       width: 90%;
   }
   .only-tab{
    display:block;
    margin-left: 50%;
   }
   hr{
    width: 85%;
   }
   .bottom{
       flex-direction: row;
       align-items: center;
       width: 60%;
       margin-left: 20%;
   }
}