/*----- Top bannner style -----*/
.top-banner{
    margin: 50px 140px;
    background-color: rgb(18, 0, 92);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 110px 100px 110px 100px;
    border-radius: 30px;

}
.banner-left{
    padding-right: 12px;

}
.banner-head{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}
.banner-button{
    background-color: #ff5353;
    color: white;
    border-radius: 5px;
}

/* ----------------- middle-part-------------- */

.container{
    display: flex;
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 140px;
}
.button-list{
    display:grid;
    height: 250px;
    width: 312px;
    border-radius: 10px;
    background-color: rgb(177, 243, 243);
}
.button{
    background-color: #ff7b7b;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
}
.current-button{
    background-color: rgb(0, 255, 170);
    margin-bottom: 20px;
}
/* ----blogs---- */
.blogs{
    margin-left: 40px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}
.blog{
    background-color: rgb(255, 225, 225);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
}
.transfer-button{
    margin-top: 10px;
    color: #161616;
    width: 100px;
    height: 32px;
    background-color: rgb(174, 255, 212);
    border-radius: 5px;
}
.blog-content{
    margin: 20px 0px 15px 10px;
}
/* -------------footer part------------------ */
.footer-container{
    background-color: black;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 150px;

}
.footer-head{
    color: white;
    font-size: 40px;

}
hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
}
.bottom{
    color: #B9B9B9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 130px;

}
.bottom-parts{
    margin-right: 20px;
    color: #B9B9B9;
}

